[Unit]
Description=courier-mta Service
After=docker.service
Requires=vmail-custom-net.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker exec $( jq -r .mta.service /etc/mailbag/context.json ) stop
ExecStartPre=-/usr/bin/docker rm $( jq -r .mta.service /etc/mailbag/context.json )
ExecStart=/usr/bin/docker run --rm --name $( jq -r .mta.service /etc/mailbag/context.json ) \
    --net $( jq -r .docker.network_name /etc/mailbag/context.json ) \
    --hostname $( jq -r .mta.dns_name  /etc/mailbag/context.json ) \
    -v $( jq -r .userdb.directory /etc/mailbag/context.json ):$( jq -r .userdb.directory /etc/mailbag/context.json ) \
    -v $( jq -r .mta.tls_certfile /etc/mailbag/context.json ):/usr/lib/courier/share/esmtpd_cert.pem \
    -v $( jq -r .mta.tls_keyfile /etc/mailbag/context.json ):/usr/lib/courier/share/esmtpd_private_key.pem \
    -v $( jq -r .mda.mail_path_host /etc/mailbag/context.json ):$( jq -r .mda.mail_path_container /etc/mailbag/context.json ) \
    -v /run/systemd/journal/dev-log:/dev/log \
    -v /var/spool/mail:/var/spool/mail \
    -v /var/spool/courier-mta:/var/spool/courier \
    -v /var/lib/courier/tmp/:/var/lib/courier/tmp \
    -v /etc/mailbag/context.json:/context.json \
    -v /etc/mailbag/acceptmailfor.template:/acceptmailfor.template \
    -v /etc/mailbag/hosteddomains.template:/hosteddomains.template \
    -p 25:25 \
    $( jq -r .mta.service /etc/mailbag/context.json ):latest

ExecStop=/usr/bin/docker kill $( jq -r .mta.service /etc/mailbag/context.json )

[Install]
WantedBy=default.target