[Unit]
Description=docker private network
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=(/usr/bin/docker network ls  | grep {{ docker.network_name }}) || /usr/bin/docker network create {{ docker.network_name }}
